* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header .header__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(3, 190, 202);
    height: 20px;
}

header .header__top .header__top__style {
    color: #fff;
    margin: 5px 10px 5px 0;
}

header .header__top .select {
    background: transparent;
    border: none;
    margin-right: 15px;
    color: #fff;
}

header .header__top .select:focus {
    outline: none;
    background-color: rgb(3, 190, 202);
    color: rgb(76, 88, 160);
}

header nav .nav__menu .active {
    color: rgb(76, 88, 160);
}

header nav .nav__menu a {
    text-decoration: none;
    font-weight: 700;
    margin-right: 16px;
    color: rgba(91, 91, 95, 0.8);
}

header nav .nav__menu a:hover {
    color: rgb(76, 88, 160);
}

header nav .menu-icon, header nav #check {
    display: none;
}

header nav .nav__icon {
    font-size: 1.3rem;
    color: rgb(76, 88, 160);
    cursor: pointer;
}

header nav .nav__icon1 {
    font-size: 1.8rem;
    color: rgb(76, 88, 160);
}

header nav .nav-item i {
    overflow: hidden;
}

header nav .nav-item i:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    color: #03BECA;
}



.cotizacion__titulo h1 {
    color: rgb(3, 190, 202);
    font-size: 1.5rem;
    padding: 20px 0 1px 0;
}


.main__cotizacion__detalle {
    height: 100%;
    width: 100%;
    color: #5B5B5F;
}


.main__cotizacion__detalle img {
    width: 80%;
    max-height: 100%;
}

main .main__btn {
    display: flex;
    flex-direction: column;
    color: #fff;
    border: 8px solid #03BECA;
    border-radius: 15px;
    background: #03BECA;
    margin-top: 8%;
    margin-bottom: 2%;
    
}

#btn1{
    margin-top: 28%;
}

.table__formato {
    color: #5B5B5F;
}


.formatoCard{
    font-size: 1.5rem;
    color: #5b5b5f;
    text-align: center;
}

#seleccion{
    background-color: rgb(248,249,250);
    
}

.formato-pedido{
    background-color: rgb(216, 229, 238);
    padding: 0.5%;
   
    
}
